﻿@model IEnumerable<AppFabricPaging.Code.SearchResult>

<table>
    <tr>
        <td>Guid</td>
        <td>Value</td>
        <td>Retrieve Date</td>
    </tr>
    @foreach(var result in Model)
    {
        <tr>
            <td>@result.Id</td>
            <td>@result.Value</td>
            <td>@result.RecordDate.ToString()</td>
        </tr>
    }
</table>