﻿@{
    ViewBag.Title = "Home Page";
}

<script type="text/javascript">
    var page = 0;
    $(function () {
        $('#pageNumber').html(page);
        $.get('@Url.Action("GetNextPage", "Home")',
              { pageNumber: page },
              function (data) {
                  $('#results').append(data);
              });

        $('#getNextPage').click(function () {
            page = page + 1;

            $.get('@Url.Action("GetNextPage", "Home")',
              { pageNumber: page },
              function (data) {
                  $('#results').append(data);
              });

            $('#pageNumber').html(page);
        });
    });
</script>

<p>
    It took @ViewBag.SearchTime ms to execute the search!
</p>

<br />

<b>Current Page: </b><span id="pageNumber"></span>
<button id="getNextPage">Get Next Page</button>
<br />
<br />
<div id="results"></div>